/* CSS Reset */


/* Full HTML Tag Call */
html {
    height: 100%;
}

/* Body Tag Call */
body {
    display: flex;
    overflow: hidden; /* makes body non-scrollable DO NOT FORGET TO MAKE CHILDREN SCROLLABLE */
    margin: 0; /* removes default style */
    height: 100%;
    min-height: 100%;
    flex-direction: column;
    flex-shrink: 0;
}

/* <Header> Class */
.tagheader {
    flex: 0 0 auto;
    background-color: white; 
    margin: 0px;
    border-bottom: 5px;
    border-color: #cccccc
}

/* Nav Link Class */
.navlink {
    color: #777777;
    background-color: white;
}

/* Nav Bar Class */
.navbar {
    float: right;
    position: relative;
    margin-inline-end: 10%;
}

/* NavActive Class */
.navactive {
    background-color: #4aaaa5;
    color: white;
    padding: 30px;
    float: right;
    font-weight: 900;
}

/* Header Name ID */
#myname {
    background-color: #4aaaa5;
    color: white;
    float: left;
    padding: 30px;
    margin-inline-start: 10%;
    font-weight: 1800;
}

/* Link to portfolio.html ID */
#linkportfolio {
    float: right;
    width: 10%;
    padding: 30px;
    color: #777777;
}

/* Link to contact.html ID */
#linkcontact {
    float: right;
    width: 10%;
    padding: 30px;
    color: #777777;
}

/* Main Class */
.main {
    flex: 1 0 auto;
    margin: 20px 80px 60px 80px;
}

/* Paragraph Text Class */
.ptext {
    color: #777777;
}

/* Clearfix */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Main Header ID */
#h1 {
    background-color: #ffffff;
    color: white;
    float: left;
    position: relative;
}

/* Headshot Photo ID */
#headshot {
    float: left;
    margin: 30px;
    height: 15%;
    width: 15%;
}

/* Sticky Footer Class */
.footer {
    border-top: 8px solid #4aaaa5;
    padding: 20px 100px 20px 100px;
    background-color: slategrey;
    text-align: center;
    flex: none;
    flex-shrink: 0;
    color: white;
}
