/* Clearfix */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


/* Full HTML Tag Call */
html {
    height: 100%;
}

/* Body Tag Call */
body {
    display: flex;
    overflow: auto; /* makes body non-scrollable DO NOT FORGET TO MAKE CHILDREN SCROLLABLE */
    margin: 0px; /* removes default style */
    height: 100%;
    min-height: 100%;
    background-color: lime;
    flex-direction: column;
    flex-shrink: 0;
}

/* <Header> Class */
.tagheader {
    flex: 0 0 auto;
    margin: 0px;
    background-color: white;
    border-style: solid;
    border-color: orange;
    border-width: 0px 0px 3px 0px;
}

/* Nav Link Class */
.navlink {
    color: #777777;
    background-color: white;
    float: right;
    width: 10%;
    padding: 30px;
    display: inline-block;
}

/* Nav Bar Class */
.navbar {
    float: right;
    position: relative;
    margin-inline-end: 10%;
    margin-bottom: 0;
}

/* NavActive Class */
.navactive {
    background-color: #4aaaa5;
    color: white;
    padding: 30px;
    float: right;
    font-weight: 900;
    margin-bottom: 0;
    display: inline-block;
}

/* Nav Property ID */
#navbarproperties {
    background-color: white;
    margin: 0px;
}

/* Info Header Class */
.info_header {
    background-color: #4aaaa5;
    color: white;
    float: left;
    padding: 30px;
    margin-inline-start: 10%;
    font-weight: 300%;
    margin-bottom: 0;
}

/* MSGSUBMIT ID */
#msgsubmit {
    background-color: #4aaaa5;
    color: white;
    padding: 30px;
    font-weight: 900;
    margin-bottom: 0;
    display: block
}

/* Main Class */
.main {
    flex: 1 0 auto;
    margin: 20px 80px 60px 80px;
    padding: 30px;
    background-color: white;
}

/* Paragraph Text Class */
.ptext {
    color: #777777;
}

/* H2 ID */
.header2 {
    border-style: solid;
    border-color: orange;
    color: #4aaaa5;
    padding: 0px 0px 20px 0px;
    border-width: 0px 0px 3px 0px;
}

/* Headshot Photo ID */
#headshot {
    float: left;
    margin: 30px;
    height: 15%;
    width: 15%;
}

/* Contact Form ID */
#contactform {
    width: 100%;
}

/* Message Line Class */
.msgline {
    width: 100%;
    display: block;
}

/* Message Box ID */
#msgbox {
    width: 100%;
    height: 350px;
    display: block;
}

/* Sticky Footer Class */
.footer {
    border-top: 8px solid #4aaaa5;
    padding: 20px 100px 20px 100px;
    background-color: slategrey;
    text-align: center;
    flex: none;
    flex-shrink: 0;
    color: white;
    margin-bottom: 0;
}
